<title>Perfis | {$namepage}</title>
<br><br><br>
<div align="center">    
  
  <div>
    <h1>Lista de Emails da caixa <strong>{$nomecaixa}</strong> </h1>
  </div>

</div> 

<div class="box-body no-padding" align="center">
    <table class="table table-striped" border="1">     
        <tr>          
          <th style="width: 200px">Email</th>          
          <th style="width: 200px">Opções</th>     
        </tr>     
     
    {loop="$list"} 
    <tr align="center">
      
      <td>{$value.email_caixa}</td>
           
      <td>        
        <a href="#" onclick="return confirm('Deseja realmente excluir este perfil?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>       
      </td>
    </tr>
    {/loop}   
</table>

</div>

<div align="center">        
      <br><br>   
    
      <div class="box-footer">
        <form role="form" action="/listemail/cadastro" method="post">
          <input type="text" class="form-control" id="nomecaixa" name="nomecaixa" value="{$nomecaixa}" >
          <input type="text" class="form-control" id="email_caixa" name="email_caixa" placeholder="Digite o email">       
          <button type="submit" class="btn btn-success" >Cadastrar</button>
      </form>
      </div>     
  </div>
  



