<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Desafio</title>  
 
</head>

<body class= "">

<div class=" " align="center">
  <div class=" ">
    <b>Desafio</a>
  </div>

  <div class=" " alignin>
    <p class=" ">Cadastro/ Exlusão e Edição de perfis</p>

    <form action="#" method="post">
      <div class="nome_perfil">
        <input type="text" class="form-control" placeholder="Nome / Sobrenome">
        
      </div>

      <div class="data_nasc">
        <!-- aqui, colocar o combo box para tada de nascimento -->
        
      </div>

        <div class=" ">
            <br>
            <button type="submit" class="">Cadastrar novo Perfil</button>
            
            
        </div>
      
      </div>
    </form>
       

   
  </div>
 
</div>


</body>
</html>
